module.exports = {
  google: {
    clientID: 'id',
    clientSecret: 'secret'
  },
  cookie: {
    secret: 'secret'
  },
  mongo: {
    test: {
      connection: {
        database: 'tramcar_test'
      }
    },
    development: {
      connection: {
        database: 'tramcar_development'
      }
    },
    production: {
      connection: {
        database: 'tramcar_production'
      }
    }
  }
};
