module.exports = {
  google: {
    clientID: 'id',
    clientSecret: 'secret'
  },
  cookie: {
    secret: 'secret'
  },
  server: {
    development: {
      ip: '127.0.0.1',
      port: 3000
    },
    production: {
      ip: '0.0.0.0',
      port: 80
    }
  },
  mongo: {
    test: {
      connection: {
        host: '127.0.0.1',
        database: 'tramcar_test'
      }
    },
    development: {
      connection: {
        host: '127.0.0.1',
        database: 'tramcar_development'
      }
    },
    production: {
      connection: {
        host: '127.0.0.1',
        database: 'tramcar_production'
      }
    }
  },
  smtpConfig: {
    host: 'smtp.gmail.com',
    port: 465,
    secure: true, // use SSL
    auth: {
      user: 'user@gmail.com',
      pass: 'pass'
    }
  }
};
