extends ../layout.jade

block title
  title Create Category

block content
  h1 Create Category

  if errors
    div(class='panel panel-danger')
      div(class='panel-heading') #{errors.length} error(s) prevented this category from saving
      div(class='panel-body')
        ol
        for e in errors
          li= e.msg

  form(name="new", action="/categories", method="post")
    div(class='form-group')
      label(for='name') Name
      input(name="name", type="text", class="form-control", value="#{category.name ? category.name : ''}")
    button(type='submit', class='btn btn-default') Submit
